src/App_WebReferences/tybca2018/tybcadiv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.10.73/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://192.168.10.73/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.10.73/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="additionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="additionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="simpleinterest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="r" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="simpleinterestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="simpleinterestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchdataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Greetings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="greetmessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GreetingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GreetingsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="additionSoapIn">
    <wsdl:part name="parameters" element="tns:addition" />
  </wsdl:message>
  <wsdl:message name="additionSoapOut">
    <wsdl:part name="parameters" element="tns:additionResponse" />
  </wsdl:message>
  <wsdl:message name="simpleinterestSoapIn">
    <wsdl:part name="parameters" element="tns:simpleinterest" />
  </wsdl:message>
  <wsdl:message name="simpleinterestSoapOut">
    <wsdl:part name="parameters" element="tns:simpleinterestResponse" />
  </wsdl:message>
  <wsdl:message name="searchdataSoapIn">
    <wsdl:part name="parameters" element="tns:searchdata" />
  </wsdl:message>
  <wsdl:message name="searchdataSoapOut">
    <wsdl:part name="parameters" element="tns:searchdataResponse" />
  </wsdl:message>
  <wsdl:message name="GreetingsSoapIn">
    <wsdl:part name="parameters" element="tns:Greetings" />
  </wsdl:message>
  <wsdl:message name="GreetingsSoapOut">
    <wsdl:part name="parameters" element="tns:GreetingsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="additionHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="additionHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="simpleinterestHttpGetIn">
    <wsdl:part name="p" type="s:string" />
    <wsdl:part name="r" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="simpleinterestHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="searchdataHttpGetIn">
    <wsdl:part name="sname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="searchdataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GreetingsHttpGetIn">
    <wsdl:part name="greetmessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GreetingsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="additionHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="additionHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="simpleinterestHttpPostIn">
    <wsdl:part name="p" type="s:string" />
    <wsdl:part name="r" type="s:string" />
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="simpleinterestHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="searchdataHttpPostIn">
    <wsdl:part name="sname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="searchdataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GreetingsHttpPostIn">
    <wsdl:part name="greetmessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GreetingsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="tybcadiv1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:additionSoapIn" />
      <wsdl:output message="tns:additionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="simpleinterest">
      <wsdl:input message="tns:simpleinterestSoapIn" />
      <wsdl:output message="tns:simpleinterestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchdata">
      <wsdl:input message="tns:searchdataSoapIn" />
      <wsdl:output message="tns:searchdataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <wsdl:input message="tns:GreetingsSoapIn" />
      <wsdl:output message="tns:GreetingsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="tybcadiv1HttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:additionHttpGetIn" />
      <wsdl:output message="tns:additionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="simpleinterest">
      <wsdl:input message="tns:simpleinterestHttpGetIn" />
      <wsdl:output message="tns:simpleinterestHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="searchdata">
      <wsdl:input message="tns:searchdataHttpGetIn" />
      <wsdl:output message="tns:searchdataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <wsdl:input message="tns:GreetingsHttpGetIn" />
      <wsdl:output message="tns:GreetingsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="tybcadiv1HttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:additionHttpPostIn" />
      <wsdl:output message="tns:additionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="simpleinterest">
      <wsdl:input message="tns:simpleinterestHttpPostIn" />
      <wsdl:output message="tns:simpleinterestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="searchdata">
      <wsdl:input message="tns:searchdataHttpPostIn" />
      <wsdl:output message="tns:searchdataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <wsdl:input message="tns:GreetingsHttpPostIn" />
      <wsdl:output message="tns:GreetingsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tybcadiv1Soap" type="tns:tybcadiv1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://192.168.10.73/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap:operation soapAction="http://192.168.10.73/addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simpleinterest">
      <soap:operation soapAction="http://192.168.10.73/simpleinterest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchdata">
      <soap:operation soapAction="http://192.168.10.73/searchdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <soap:operation soapAction="http://192.168.10.73/Greetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tybcadiv1Soap12" type="tns:tybcadiv1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://192.168.10.73/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap12:operation soapAction="http://192.168.10.73/addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simpleinterest">
      <soap12:operation soapAction="http://192.168.10.73/simpleinterest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchdata">
      <soap12:operation soapAction="http://192.168.10.73/searchdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <soap12:operation soapAction="http://192.168.10.73/Greetings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tybcadiv1HttpGet" type="tns:tybcadiv1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <http:operation location="/addition" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simpleinterest">
      <http:operation location="/simpleinterest" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchdata">
      <http:operation location="/searchdata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <http:operation location="/Greetings" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tybcadiv1HttpPost" type="tns:tybcadiv1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <http:operation location="/addition" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simpleinterest">
      <http:operation location="/simpleinterest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchdata">
      <http:operation location="/searchdata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <http:operation location="/Greetings" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tybcadiv1">
    <wsdl:port name="tybcadiv1Soap" binding="tns:tybcadiv1Soap">
      <soap:address location="http://172.30.58.221/webservice2016/tybcadiv1.asmx" />
    </wsdl:port>
    <wsdl:port name="tybcadiv1Soap12" binding="tns:tybcadiv1Soap12">
      <soap12:address location="http://172.30.58.221/webservice2016/tybcadiv1.asmx" />
    </wsdl:port>
    <wsdl:port name="tybcadiv1HttpGet" binding="tns:tybcadiv1HttpGet">
      <http:address location="http://172.30.58.221/webservice2016/tybcadiv1.asmx" />
    </wsdl:port>
    <wsdl:port name="tybcadiv1HttpPost" binding="tns:tybcadiv1HttpPost">
      <http:address location="http://172.30.58.221/webservice2016/tybcadiv1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>