src/App_WebReferences/greetings/MyCustomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Greetinghpp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GreetinghppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GreetinghppResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GreetinghppSoapIn">
    <wsdl:part name="parameters" element="tns:Greetinghpp" />
  </wsdl:message>
  <wsdl:message name="GreetinghppSoapOut">
    <wsdl:part name="parameters" element="tns:GreetinghppResponse" />
  </wsdl:message>
  <wsdl:portType name="MyCustomServiceSoap">
    <wsdl:operation name="Greetinghpp">
      <wsdl:input message="tns:GreetinghppSoapIn" />
      <wsdl:output message="tns:GreetinghppSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyCustomServiceSoap" type="tns:MyCustomServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Greetinghpp">
      <soap:operation soapAction="http://tempuri.org/Greetinghpp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyCustomServiceSoap12" type="tns:MyCustomServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Greetinghpp">
      <soap12:operation soapAction="http://tempuri.org/Greetinghpp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyCustomService">
    <wsdl:port name="MyCustomServiceSoap" binding="tns:MyCustomServiceSoap">
      <soap:address location="http://localhost:3111/MyWebservice/MyCustomService.asmx" />
    </wsdl:port>
    <wsdl:port name="MyCustomServiceSoap12" binding="tns:MyCustomServiceSoap12">
      <soap12:address location="http://localhost:3111/MyWebservice/MyCustomService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>